<h1>Welcome to Compartment!</h1>
<p>This setup wizard will guide you through setting up your first site.</p>

<% if @errors.present? %>
  <p>Please fix the following errors:</p>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag admin_setup_wizard_path do %>
<!--   <p>
    <%#= label_tag 'site[domain]', 'Domain' %>
    <%#= text_field_tag 'site[domain]', @site.domain %>
  </p> -->
  <p>
    <%= label_tag 'user[email]', 'Email' %>
    <%= text_field_tag 'user[email]', @user.email %>
  </p>
  <p>
    <%= label_tag 'user[password]', 'Password' %>
    <%= password_field_tag 'user[password]', @user.password %>
  </p>
  <p>
    <%= label_tag 'user[password_confirmation]', 'Confirm Password' %>
    <%= password_field_tag 'user[password_confirmation]' %>
  </p>
  <p><%= submit_tag 'Create' %></p>
<% end %>