<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'compartment/admin-styles' %>
  <%= javascript_include_tag 'compartment/application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background:transparent;">

<div id="compartment_toolbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Compartment</a>
      <ul class="nav pull-right">
        <li><form class="navbar-form"><a href="#new_page_modal" class="btn" data-toggle="modal">New Page</a></form></li>
        <li><%= link_to 'Log Out', admin_logout_path, target: '_top' %></li>
      </ul>
    </div>
  </div>
</div>

<div id="compartment_modal" class="modal hide fade"></div>

<!-- <div id="new_page_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new_page_modal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Page</h3>
  </div>
  <div class="modal-body">
    <%= form_for @new_page, url: admin_pages_path, html: {target: '_top', class: 'form-horizontal'} do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls"><%= f.text_field :title %></div>
      </div>
      <div class="control-group">
        <%= f.label :url_path, 'URL', class: 'control-label' %>
        <div class="controls"><%= f.text_field :url_path %></div>
      </div>
      <div class="control-group">
        <%= f.label :template, class: 'control-label' %>
        <div class="controls"><%= f.text_field :template %></div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary" form="new_page">Create Page</button>
  </div>
</div> -->

<script type="text/javascript">
new Compartment.Views.PageToolbar();
</script>

</body>
</html>
