<h1>Listing admin_content_blocks</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_blocks.each do |content_block| %>
  <tr>
    <td><%= content_block.data %></td>
    <td><%= content_block.content_area.page %></td>
    <td><%= link_to 'Show', admin_content_block_path(content_block) %></td>
    <td><%= link_to 'Edit', edit_admin_content_block_path(content_block) %></td>
    <td><%= link_to 'Destroy', admin_content_block_path(content_block), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content block', new_admin_content_block_path %>
